{% extends "base/hero.html.twig" %}

{% block content %}
    <section style="padding-bottom: 20px">
        <div class="row-fluid">
            <div class="span12">
                <form method="POST" action="{{ app.urlFor('sensors') }}" class="form-horizontal">
                    {% for sensor in sensors %}
                        <legend>Sensor ID: {{ sensor.id }}</legend>
                        <div class="control-group">
                            <label for="sensor[{{ sensor.id }}]" class="control-label">Name</label>

                            <div class="controls">
                                <input type="text" name="sensor[{{ sensor.id }}]" value="{{ sensor.name }}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="sensor[{{ sensor.id }}]" class="control-label">Calculation</label>

                            <div class="controls">
                                <input type="text" name="calc[{{ sensor.id }}]" value="{{ sensor.calculation }}">
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-actions">
                        <button class="btn btn-primary" type="submit">Save changes</button>
                        <a href="{{ app.urlFor('sensors_update') }}" class="btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
