{% extends "base/hero.html.twig" %}

{% block content %}
    <header>
        <h1>Welcome to AutoHome!</h1>

        <p>
            Pada halaman ini anda dapat melihat status dari perangkat dan sensor yang terhubung pada sistem.
            Untuk mengubah pengaturan, klik tombol <strong>Ubah Pengaturan</strong>.
            Untuk mengirimkan perintah secara manual pergunakan fungsi <strong>Send Command</strong>, contoh: ketik "r" untuk mendapatkan nilai dari sensor.
        </p>
    </header>

    <section style="padding-bottom: 20px">
        <div class="row-fluid">
            <div class="span12">
                <legend>Status Perangkat</legend>
                <table id="devices" class="table table-striped table-hover narrow">
                    <thead>
                    <tr>
                        <th class="">Nama</th>
                        <th class="">By Rule</th>
                        <th class="">Actual</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for device in devices %}
                        <tr>
                            <td><strong>{{ device.name }}</strong></td>
                            <td>{{ device_byrule[device.port-1] ? 'ON' : 'OFF' }}</td>
                            <td>{{ device_value[device.port-1] ? 'OFF' : 'ON' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="text-center" style="margin-top: 20px;"><a class="btn btn-small" href="{{ app.urlFor('devices_name') }}"><i
                                class="icon-edit"></i> Ubah Pengaturan</a></p>
                <legend>Nilai Sensor</legend>
                <table id="devices" class="table table-striped table-hover narrow">
                    <thead>
                    <tr>
                        <th class="">Nama</th>
                        <th class="">Nilai</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sensor in sensors %}
                        <tr>
                            <td><strong>{{ sensor.name }}</strong></td>
                            <td>{{ sensor_value[sensor.port] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="text-center" style="margin-top: 20px;"><a class="btn btn-small" href="{{ app.urlFor('sensors') }}"><i
                                class="icon-edit"></i> Ubah Pengaturan</a></p>

                <form class="form-actions" action="{{ app.urlFor('/') }}" method="POST">
                    <h4>Send Command</h4>

                    <div class="control-group">
                        <div class="controls input-append">
                            <input type="text" name="cmd" id="cmd" class="span10">
                            <button type="submit" class="btn">Go!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}
